button {
    font: 28px 'Arial', sans-serif;
        /* color: white; */
    outline: none;
}

a {
    font: 22px 'Arial', sans-serif;
    text-decoration: none;
}

a.mat-menu-itme:hover {
    text-decoration: none;
    color: black;
}

button.mat-menu-item{
    font: 22px 'Arial', sans-serif;
}

button.mat-menu-item:hover {
    font: 22px 'Arial', sans-serif;
}


.at-focus-indicator, .mat-menu-item {
    text-decoration: none;
    color: black;
}