<div class="body">
    <div class="about">
        <h1>About Me</h1>
        <p>Lorem ipsum dolor sit amet, per ei facilis philosophia, sit ex conceptam democritum definitionem, ex disputationi deterruisset eam. 
            Te augue consul duo, per sale omittantur eu, accusata suavitate moderatius nec ne. Vim ferri facilisis te, sit te suas rebum sensibus, 
            et agam legimus adipisci his. Stet debet et nam, eligendi salutandi philosophia sea ei. Legere corrumpit vim no. Ad platonem convenire vim.
            An copiosae efficiendi sed. Te ornatus expetendis qui. Mei id sumo erat, id mea minim dolore accusata. 
            Mea justo doctus dissentiunt ad, magna tation mel no. Pro eu ipsum aliquip inermis. 
            Docendi blandit mei ut, qui euismod reformidans adversarium te, tantas decore discere vim ad. 
            Augue nusquam percipitur ut vim, ei duo affert integre.
        </p>    
    </div>
    <div class="weather">
        <app-weather></app-weather>
    </div>
</div>

