<div class="body">
    <div class="about">
        <h2>About Me</h2>
        <p>Hi! I'm Jared McGreevy, a {{age}}-year-old Software Engineer working for FIS located in Birmingham, Alabama. 
            In 2018, I received my Bachelor's degree in Computer Science from Humboldt State University in Arcata, California. 
            My main focus has been in .NET development, and I also have experience in Angular, SQL, and REST API. 
            My overall goal is to make elegant software that enhances user experience through ease of use. 
        </p>
    </div>
    <div class="weather">
        <h2> Weather I'm Dealing With </h2>
        <app-weather></app-weather>
    </div>
</div>

