<div class="body">
    <div class="about">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet, per ei facilis philosophia, sit ex conceptam democritum definitionem, ex disputationi deterruisset eam. 
            Te augue consul duo, per sale omittantur eu, accusata suavitate moderatius nec ne. Vim ferri facilisis te, sit te suas rebum sensibus, 
            et agam legimus adipisci his. Stet debet et nam, eligendi salutandi philosophia sea ei.
        </p>    
    </div>
    <div class="weather">
        <h2> Weather I'm Dealing With </h2>
        <app-weather></app-weather>
    </div>
</div>

